<div class="need-help">
  <h6>Need more help?</h6>
  <a href="mail:k.pradeep8891@gmail.com">Write mail to us</a>
</div>
<div class="footer">
  <p class="p-small">
    You received this email because you just signed up for a new account. if it
    looks weired,
    <a href="" style="color: #c90063"> View it in your browser.</a>
  </p>
  <p class="p-small">Copyright &copy; 2020, <b>Shopkart.com</b></p>
</div>
