<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <style>
      .table {
        width: 500px;
        margin: auto;
        background-color: #f4f5f6;
        text-align: center;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #545454;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Maven Pro", sans-serif;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 500;
        color: #0da9ef;
      }
      h1 {
        font-size: 22px;
      }
      h6 {
        font-size: 18px;
      }
      p {
        line-height: 1.4;
      }
      a {
        color: inherit;
      }
      a:hover {
        color: #0893d2;
      }

      .btn {
        margin: 40px 0;
        display: inline-block;
        padding: 12px;
        border-radius: 4px;
        min-width: 160px;
        background-color: #0da9ef;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
      }
      .btn:hover {
        background-color: #0893d2;
        color: #fff;
        box-shadow: 0 2px 0px #116f9a;
      }
      hr {
        border: 1px solid #eee;
        margin: 25px 0;
      }
      .p-small {
        font-size: 13px;
      }
      .p-large {
        font-size: 14px;
        font-weight: 500;
        color: #0da9ef;
        font-family: "Maven Pro", sans-serif;
      }

      .need-help {
        margin: 20px 0;
        background-color: #fff;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <table class="table">
      <tbody>
        <tr>
          <td style="padding: 50px 20px">
            <div style="padding-bottom: 15px">
              <h1>Dev connections</h1>
            </div>
            <div style="background: #fff; padding: 30px 20px">
              <h2>Password Reset</h2>
              <hr />

              <p><%= email %></p>

              <p>
                If you forgot your password or wish to reset it.
                <br />click the below link to get new password
              </p>

              <a href="<%= localURL %>/api/auth/reset/<%= token %>" class="btn"
                >Reset my password</a
              >

              <p class="p-small">
                If you did not request a password reset,<br />
                you can safely ignore this email.
              </p>
              <hr />
              <div style="text-align: left; display: block">
                <h6>
                  Thanks.
                  <small style="display: block; font-size: 12px; color: #545454"
                    >Shopkart Team</small
                  >
                </h6>
              </div>
            </div>
            <div class="need-help">
              <h6>Need more help?</h6>
              <a href="mail:arya.creativemind@gmail.com">Write mail to us</a>
            </div>
            <div class="footer">
              <p class="p-small">
                You received this email because you just signed up for a new
                account. if it looks weired,
                <a href="" style="color: #c90063"> View it in your browser.</a>
              </p>
              <p class="p-small">
                Copyright &copy; 2020, <b>dev-connections.com</b>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
