<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main class="container v-center">
      <form class="reset-form" action="/api/auth/new-password" method="POST">
        <div class="logo">
          <div class="circle">
            <img src="./images/shop-logo.png" alt="shopkart" />
          </div>
          <label>Dev connections</label>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            class="form-control"
            name="confirm-password"
          />
        </div>
        <input type="hidden" name="token" value="<%= token %>" />
        <div class="form-group center">
          <button type="submit" class="btn">Reset</button>
        </div>
      </form>
    </main>
    <footer class="footer">
      <div class="container">
        <p>&copy;-<%= year %>, All rights reserved, Powered by startx.com</p>
      </div>
    </footer>
  </body>
</html>
